<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="projectName" value="study-logback-test"/>
    <property name="appender.encoder.pattern"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}]|[%-5level]|[%thread]|[%logger{10}]|[%method] | %msg%n"/>
    <property name="log.path" value="/logs/logback/" />
    <property name="maxHistory" value="3660" />

    <contextName>${projectName}</contextName>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${appender.encoder.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="template" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/template.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/template.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${appender.encoder.pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="com.loujie.www.test" level="info" additivity="true">
        <appender-ref ref="template"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="console"/>
    </root>

</configuration>